{% extends 'base.html' %}
{% block content %}
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <br/>
<div class="flex flex-col min-h-full items-center align-center justify-center px-6 lg:px-8">
    <div class="rounded-xl bg-gray-100 mx-20" style="width: 90%;">
        <div class="sm:mx-auto sm:w-full text-center">
        <br/>
        <p class="text-5xl font-mono font-bold">Search for your favorite movies!</p>
        <br>
        <form action="{% url 'films' %}" method="get" class="object-center">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <input name="q" type="text" placeholder="Search for a movie..." id="default-search"  style="width: 60%;" class="mx-auto rounded-md border-0 py-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <button type="submit" style="width: 10%;" class="mx-auto justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-400">Search</button>
        </form>
        <br/><br/>
            <div class="grid grid-cols-4 items-center justify-center text-center">
{#            <br/>#}
                {% for movie, poster_url in movies %}
                     <div class="text-center">
                    <img class="block mx-auto my-auto h-68 w-52 py-2" src={{ poster_url.poster_url }}>
                     {{ movie }}
                            <div class="rating rating2">
                                <a href="" data-value="10" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="9" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="8" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="7" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="6" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="5" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="4" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="3" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="2" data-movie={{ movie.id }}>★</a>
                                <a href="" data-value="1" data-movie={{ movie.id }}>★</a>
                            </div>
                     </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    <script>
        $(".rating a").on('click', function(e) {
            let value = $(this).data('value');
            let movie = $(this).data('movie');
            $.ajax({
                url: "/ratings/" + movie,
                type: 'POST',
                async: false,
                headers: { "X-CSRFToken": "{{csrf_token}}" },
                data: {'movie': movie, 'rating': value},
                success: function (d) {
                    location.reload();
                }
            })
});
    </script>
{% endblock %}